examples/factoryEngines.json
[{"id":"57885890.485378","type":"tab","label":"Example","disabled":false,"info":""},{"id":"681931de.1ed29","type":"mock-tournament-attributes","z":"57885890.485378","startDate":"2020-01-01","endDate":"2020-02-01","eventType":"SINGLES","drawType":"SINGLE_ELIMINATION","drawSize":32,"groupSize":"","x":150,"y":120,"wires":[["d26b4269.7e516"]]},{"id":"d26b4269.7e516","type":"mocks-engine","z":"57885890.485378","x":380,"y":120,"wires":[["13127fe5.0f89a"]]},{"id":"13127fe5.0f89a","type":"function","z":"57885890.485378","name":"getTournamentParticipants","func":"const tournamentRecord = msg.payload.tournamentRecord\nmsg.payload = {\n    method: \"getTournamentParticipants\",\n    payload: {},\n    tournamentRecord\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":400,"y":220,"wires":[["31faf14.e82df0e"]]},{"id":"31faf14.e82df0e","type":"tournament-engine","z":"57885890.485378","x":650,"y":220,"wires":[["597952ec.736c4c"]]},{"id":"597952ec.736c4c","type":"debug","z":"57885890.485378","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":220,"wires":[]}]